
.btm_border
{
    width:18%;
    height:2px;
    background-color: #FF5e14;
   margin-top:15px;
   margin-left:8px;
}


#footer_li ul li
{
display:inline;
padding:15px;
}
#cont_images
{
    background-image: url('../images/contact-us.webp');
    background-size: cover;
    background-repeat: no-repeat;
height:700px;
padding:0px;
}
#login_img
{
    background-image: url('../images/image.png');
    background-size: cover;
    height:800px;
}
#contact
{
    height:350px;
    background-image: url('../images/contact.jpg');
    background-size: cover;
}
#contact .col-sm-12
{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: #48474791;
}

.news-card div
{
   overflow: hidden;
   border-radius: 5px 5px 0px 0px;
}
.news-card div img
{
    transition: 0.5s ease;
}
.news-card:hover img
{
    transform: scale(1.2);
}